server/venv/
server/app/schemas/__pycache__
server/app/routes/__pycache__
server/alembic/__pycache__
server/app/__pycache__
server/app/controllers/__pycache__
server/app/middlewares/__pycache__
.env
server/app/api/v1/__pycache__
server/app/services/__pycache__
server/app/models/__pycache__
server/app/api/v1/endpoints/__pycache__
server/app/db/__pycache__
server/alembic/versions/__pycache__
server/app/core/__pycache__
server/app/utils/__pycache__
server/uploads/
server/app/static/uploads
server/app/api/v1/endpoints/admin/__pycache__
server/app/api/v1/endpoints/public/__pycache__
server/app/api/v1/endpoints/user/__pycache__
